body {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-size: 22px;
}

main {
  font-family: monospace;
}

p {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

.highlight {
  background-color: gold;
}

hr {
  width: auto;
  height: 10px;
  background-color: rgb(109, 125, 216);
}

#pchlid {
  color: green;
}

/* ul .li-class {
  font-size: 40px;
  color: red;
} */

a {
  font-size: 44px;
  color: blue;
}

a:focus {
  color: green;
}

a:hover {
  color: aquamarine;
  text-decoration: none;
}

a:active {
  color: red;
}
/* 
ul {
  text-align: center;
  list-style-position: inside;
  color: green;
  font-size: 32px;
  font-weight: 700;
  list-style-image: url(./images/checklist.png);
}

ul li:not(:last-child) {
  color: black;
}
 */
